/* CSS for progressive enhancement*/


p {
	font-family: serif;
	letter-spacing: 1px;
	font-size: 17px;
	color:#4a4a49;
}

a {
	color:#4a4a49;
	font-family: serif;
	font-weight: bold;
	text-decoration: none;

}

a:hover {
	text-decoration: underline;
	

}

a:visited {
	color: #a83313;
}

body {
	max-width: 90%;
	margin-left: auto;
	background: linear-gradient(1deg, rgb(241, 195, 156), rgb(247, 251, 255));
	background-image:url("http://clipartmag.com/images/batman-logo-png-11.png");
	background-repeat: no-repeat;
	background-position: bottom;

}

/* ============= Header ============== */

q {
	max-width: 45%;
	margin-left: auto;
	margin-right: auto;
	font-size: 160%;
	background-color:#a8aaad;
	border-left: 3px solid black;
	padding-left: 30px;
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;





}

/* ============= Header ============== */