/* CSS for progressive enhancement*/


* {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: serif;
	letter-spacing: 1px;
	font-size: 17px;
	color:#4a4a49;
}

a {
	color:#4a4a49;
	font-family: serif;
	font-weight: bold;
	text-decoration: none;

}

a:hover {
	text-decoration: underline;
	

}

a:visited {
	color: #a83313;
}

body {
	max-width: 90%;
	margin-left: auto;
	background: linear-gradient(1deg, rgb(241, 195, 156), rgb(247, 251, 255));
	/*background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e5/Hand_pointing_down_%28contour%29.svg");*/
	background-repeat: no-repeat;
	background-position: 120% 75%;
	font-size: 18px;


}

/* ============= Header ============== */

q {
	max-width: 45%;
	margin-left: auto;
	margin-right: auto;
	font-size: 160%;
	background-color:#a8aaad;
	padding-left: 30px;
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;
	font-style: italic;

}

.villagers {
	border-left: 3px solid orange;
}
.farmer {
	border-left: 3px solid #60b4db;
}

header h1:first-child{
	background-color: #ebd957;
}

.good {
	text-transform: uppercase;
	color: #3c960c;

}
.bad {
	text-transform: uppercase;
	color: #c9240a;
}

.IconGood {
	background-image: url("../assets/img/bien.png");
	background-repeat: no-repeat;
	padding-right: 50px;
	padding:20px;
	background-position: 29% 0%;
}

.IconBad {
	background-image: url("assets/img/mal.png");
	background-repeat: no-repeat;
	padding: 20px;
	background-position: 28% 0%;


}

.IconCat {
	background-image: url(assets/img/chat.png);
	background-repeat: no-repeat;
	padding:20px;
	background-position: 28% 0%;


}

.firstparag {
	font-weight: bold;
}

.photoAlex {
	float: left;
}



/* ============= Header ============== */


/* ============= article ============== */


table tr:nth-child(even) {
	background-color: #ccc;
}
table tr:nth-child(odd) {
	background-color: #fff;
}


/* ============= article ============== */
